<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><b>BDO</b>Analytics</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lifeskill Streamers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Future Development</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lifeskill Patch Notes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Active Lifeskills
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Imperial Alchemy</a>
            <a class="dropdown-item" href="#">Imperial Cooking</a>
            <a class="dropdown-item" href="#">Cooking</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Semi-Active Lifeskills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">AFK Lifeskills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Miscellaneous</a>
        </li>
      </ul>
      <a class="discord_link" href=""><img style="max-width:127px;position:relative;top:4px;"src="http://i.imgur.com/r6KWWSh.png"></a>
    </div>
</nav>
